<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Carlos'">Es el papá Carlos</p>
  <p *ngSwitchCase="'Emily'">Es la mamá Emily</p>
  <p *ngSwitchCase="'Mooncake'">Es la gata Mooncake</p>
  <p *ngSwitchCase="'Yuri'">Es el cane di pepino Yuri</p>
  <p *ngSwitchCase="'Sparky'">Es el cane di Sicilia Sparky</p>
  <p *ngSwitchDefault>No forma parte de la familia.</p>
</div>

<h1>ngFor en array de objetos</h1>
<div>
  <div *ngFor="let product of products">
    <img [src]="product.image" [alt]='"Image for " + product.name'>
    <h2>{{product.name}}</h2>
    <p><b>{{product.price}}</b></p>
  </div>
</div>

<h1>ngFor</h1>
<h3>Emojis</h3>

<ul *ngIf="emojis.length > 0; else noItems">
  <li *ngFor="let emoji of emojis; index as i">
    Emoji #{{ i + 1 }}: {{ emoji }}
    <button (click)="quitarElemento(i)">X</button>
  </li>
</ul>

<ng-template #noItems>
  <p>No hay elementos en tu array</p>
</ng-template>

<input type="text" required [(ngModel)]="newName" />
<button (click)="agregarNombre()">Add name</button>

<hr>

<h1>ngIf</h1>

<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name == 'Jesus'; else elseBlock">OMG! It's Jesus</p>

<ng-template #elseBlock>
  <p>You are not our savior!</p>
</ng-template>

<h1>ngModel</h1>

<p>Nombre: {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p>Edad: {{person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>

<hr />

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<button (click)="decreaseAge()">Age --</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat impedit consequatur eos, enim ad magni repudiandae suscipit atque perferendis debitis optio velit quibusdam, veritatis animi dolorem inventore reprehenderit repellendus fuga!</p>
</div>
<p>Nombre: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>

<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="Random image from internet." width="100">

<hr />

<h1>Hola mundo</h1>
<h1>{{ 'Hola mundo '.repeat(5) }}</h1>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="Random image from internet.">
