<h1>Formulario</h1>
<form #registerForm="ngForm" (ngSubmit)="onRegister()">
  <div class="input-group">
    <label for="name">Nombre de usuario</label>
    <input type="text" name="name" id="name" required #registerName="ngModel" [(ngModel)]="register.name" />
    <p class="message-error">Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Correo electrónico</label>
    <input type="email" name="email" id="email" required #registerEmail="ngModel" [(ngModel)]="register.email" />
    <p class="message-error">Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="name">Contraseña</label>
    <input type="password" name="password" id="password" required #registerPassword="ngModel" [(ngModel)]="register.password" />
    <p class="message-error">Mensaje de error</p>
  </div>
  <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
</form>
<hr/>


<h1>ngClass & ngStyle</h1>

<label>Nombre</label>
<input type="text" required #nameInputClass="ngModel" [(ngModel)]="person.name" />
<hr class="line-error" [ngClass]="{ 'valid': nameInputClass.valid, 'invalid': nameInputClass.invalid }" />
<p class="message-error" [class.invalid]="nameInputClass.invalid">El campo es requerido</p>

<div class="dynamic-width">
  <div>
    <div><input type="number" [(ngModel)]="box.width" /></div>
    <div><input type="number" [(ngModel)]="box.height" /></div>
    <div><input type="color" [(ngModel)]="box.background" /></div>
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>

<hr />

<h1>Class & styles</h1>
<label>Nombre</label>
<input type="text" required #nameInputTwo="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInputTwo.invalid">
  El campo es requerido
</p>

<label>Apellido</label>
<input type="text" required #nameInputSurname="ngModel" [(ngModel)]="person.surname" />
<p
  [style.color]="nameInputSurname.invalid ? 'red' : 'black'"
  [style.font-style]="nameInputSurname.invalid ? 'italic' : 'normal'"
  [style.font-size.em]="nameInputSurname.invalid ? 2 : 1"
>
  Si estoy en cursiva, color rojo y dimensión grande, el campo apellido es inválido
</p>

<div class="dynamic-width">
  <div>
    <input type="text" [(ngModel)]="widthImg"/>
  </div>
  <div>
    <img src={{img}} alt="Random image from internet." [style.width.px]="widthImg">
  </div>
</div>

<hr/>

<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Carlos'">Es el papá Carlos</p>
  <p *ngSwitchCase="'Emily'">Es la mamá Emily</p>
  <p *ngSwitchCase="'Mooncake'">Es la gata Mooncake</p>
  <p *ngSwitchCase="'Yuri'">Es el cane di pepino Yuri</p>
  <p *ngSwitchCase="'Sparky'">Es el cane di Sicilia Sparky</p>
  <p *ngSwitchDefault>No forma parte de la familia.</p>
</div>

<hr/>

<h1>ngFor en array de objetos</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" [alt]='"Image for " + product.name'>
    <p><b>${{product.price}}</b></p>
    <h2>{{product.name}}</h2>
  </div>
</div>

<hr/>

<h1>ngFor</h1>
<h3>Emojis</h3>

<ul *ngIf="emojis.length > 0; else noItems">
  <li *ngFor="let emoji of emojis; index as i">
    Emoji #{{ i + 1 }}: {{ emoji }}
    <button (click)="quitarElemento(i)">X</button>
  </li>
</ul>

<ng-template #noItems>
  <p>No hay elementos en tu array</p>
</ng-template>

<input type="text" required [(ngModel)]="newName" />
<button (click)="agregarNombre()">Add name</button>

<hr>

<h1>ngIf con caso else</h1>

<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Carlos'; else elseBlock">You are Carlos</p>
<ng-template #elseBlock>
  <p>You are not Carlos!</p>
</ng-template>

<h1>ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Carlos'">You are Carlos</p>

<hr/>

<h1>ngModel</h1>

<p>Nombre: {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p>Edad: {{person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>

<hr />

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">
  {{btnDisabled ? 'Activar' : 'Desactivar'}} botón
</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<button (click)="decreaseAge()">Age --</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat impedit consequatur eos, enim ad magni repudiandae suscipit atque perferendis debitis optio velit quibusdam, veritatis animi dolorem inventore reprehenderit repellendus fuga!</p>
</div>
<p>Nombre: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>

<hr />

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="Random image from internet." width="100">

<hr />

<h1>Hola mundo</h1>
<h1>{{ 'Hola mundo '.repeat(5) }}</h1>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="Random image from internet." width="100">
